<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  May Node and Express be with you.

  <ul class="quotes">
  <% for(var i=0; i<posts.length; i++) {%>
    <li class="quote">
      Name : <span><%= posts[i].post_title %></span> | 
      Quote : <span><%= posts[i].post_comment %></span>
      
    </li>
  <% } %>
  </ul>

  
</body>
</html>